#sidebar-box{
    --uc-sidebar-width: 30px;
    --uc-sidebar-hover-width: 350px;
    /* --uc-autohide-sidebar-delay: 455ms; /\* Wait time before hiding sidebar *\/ */
    position: relative;
    min-width: var(--uc-sidebar-width) !important;
    width: var(--uc-sidebar-width) !important;
    max-width: var(--uc-sidebar-width) !important;
    z-index:1;
  }
  
  #sidebar-box[positionend]{ direction: rtl }
  #sidebar-box[positionend] > *{ direction: ltr }
  
  #sidebar-box[positionend]:-moz-locale-dir(rtl){ direction: ltr }
  #sidebar-box[positionend]:-moz-locale-dir(rtl) > *{ direction: rtl }
  
  #main-window[sizemode="fullscreen"] #sidebar-box{ --uc-sidebar-width: 1px; }
  
  #sidebar-splitter{ display: none }
  
  #sidebar-header{ display: none}
  
  #sidebar{
    /* transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important; */
    min-width: var(--uc-sidebar-width) !important;
    will-change: min-width;
  }
  
  #sidebar-box:hover > #sidebar{ min-width: var(--uc-sidebar-hover-width) !important; transition-delay: 0ms !important }
  
  .sidebar-panel{
    background-color: transparent !important;
    color: var(--newtab-text-primary-color) !important;
  }
  
  .sidebar-panel #search-box{
    -moz-appearance: none !important;
    background-color: rgba(3, 3, 3, 0.075) !important; 
    color: inherit !important;
  }
  

/* hide indentation when collapsed */
[data-lvl] {
    padding-left:0 !important;
    will-change: padding-left;
}

/* show indentation when hovered over */
.Sidebar:hover .Tab[data-lvl="1"] {
    padding-left:var(--tabs-indent) !important;
}
.Sidebar:hover .Tab[data-lvl="2"] {
    padding-left:calc(var(--tabs-indent) * 2) !important;
}
.Sidebar:hover .Tab[data-lvl="3"] {
    padding-left:calc(var(--tabs-indent) * 3) !important;
}
.Sidebar:hover .Tab[data-lvl="4"] {
    padding-left:calc(var(--tabs-indent) * 4) !important;
}
.Sidebar:hover .Tab[data-lvl="5"] {
    padding-left:calc(var(--tabs-indent) * 5) !important;
}
.Sidebar:hover .Tab[data-lvl="6"] {
    padding-left:calc(var(--tabs-indent) * 6) !important;
}
.Sidebar:hover .Tab[data-lvl="7"] {
    padding-left:calc(var(--tabs-indent) * 7) !important;
}
.Sidebar:hover .Tab[data-lvl="8"] {
    padding-left:calc(var(--tabs-indent) * 8) !important;
}
.Sidebar:hover .Tab[data-lvl="9"] {
    padding-left:calc(var(--tabs-indent) * 9) !important;
}
.Sidebar:hover .Tab[data-lvl="10"] {
    padding-left:calc(var(--tabs-indent) * 10) !important;
}
