:root {

   /* Minimal Functional Fox variables*/
  --mff-bg: #2E3440;
  --mff-icon-color: #D8DEE9;
  --mff-nav-toolbar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #D8DEE9;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #ECEFF4;
  --mff-tab-font-family: "Cantarell", sans;
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 24px;
  --mff-tab-pinned-bg: #8FBCBB;
  --mff-tab-selected-bg: #4C566A;
  --mff-tab-soundplaying-bg: #5E81AC;
  --mff-urlbar-color: #8FBCBB;
  --mff-urlbar-focused-color: #D8DEE9;
  --mff-urlbar-font-family: "Cantarell", sans;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #D8DEE9;
  --mff-urlbar-results-font-family: "Cantarell", sans;
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #8FBCBB;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-background: var(--mff-bg) !important;
  --default-arrowpanel-background: var(--mff-bg) !important;
  --default-arrowpanel-color: #ECEFF4 !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #ECEFF480;
  --toolbar-bgcolor: var(--mff-bg) !important;
  --urlbar-separator-color: transparent !important;
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/

.tab-background[selected="true"] {
  background: var(--mff-tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
  background: var(--mff-tab-selected-bg) !important;
  opacity: 0.5 !important;
}

/* This positions the tabs under the navaigator container */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

.tab-background {
  border: none !important;
}

.tabbrowser-arrowscrollbox {
  margin-inline-start: 4px !important;
  margin-inline-end: 0px !important;
}

.tab-close-button {
 display: none !important;
}

.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}

/* Hide the favicon for tabs */
/* hbox.tab-content .tab-icon-image { */
/*   display: none !important; */
/* } */

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned=true] .tab-icon-image {
  display: initial !important;
}

hbox.tab-content[pinned=true] .tab-text {
  display: none !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: #4C566A !important;

}

.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* .tab-label-container::after {
  content: "?" !important;

} */

.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: var(--mff-tab-border-radius) !important;
  border-width: 0;
  height: var(--mff-tab-height) !important;
  margin-bottom: 4px !important;
  margin-inline-end: 4px !important;
  margin-top: 4px !important;
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
}

.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

.tab-icon-sound {
  display: none !important;
}

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/

.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
  color: var(--mff-icon-color)  !important;
}
.urlbar-icon {
  color: var(--mff-icon-color)  !important;

}

.toolbarbutton-icon {
/* filter: drop-shadow(0 0 0.75rem crimson); */
}

#urlbar-results {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  color: var(--mff-urlbar-results-color) !important;
}

.urlbarView-row[type="bookmark"] > span{
  color: #A3BE8C !important;
}

.urlbarView-row[type="switchtab"] > span{
  color: #D08770 !important;
}

.urlbarView-url, .search-panel-one-offs-container {
  color: var(--mff-urlbar-results-url-color) !important;
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

.urlbarView-favicon, .urlbarView-type-icon {
  display: none !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight)!important;
  text-align: center !important;
}

/* #tracking-protection-icon-container, #identity-box { */
/*   display: none; */
/* } */

#back-button > .toolbarbutton-icon{
  --backbutton-background: transparent !important;
  border: none !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

toolbar {
  background-image: none !important;
}

#urlbar-background {
  opacity: .98 !important;
}

#navigator-toolbox, toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: var(--mff-bg) !important;
  border: none !important;
}

.toolbar-items {
  background-color: var(--mff-bg) !important;
}

#sidebar-search-container {
  background-color: var(--mff-sidebar-bg) !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: 8px !important;
  border: none !important;
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

image#star-button {
  display: none;
}

toolbar#nav-bar {
  padding: var(--mff-nav-toolbar-padding) !important;
}

toolbar#nav-bar {
  padding: 4px !important;
}

#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
  /* 	position: unset!important; */;
}

#urlbar-input:focus {
  color: var(--mff-urlbar-focused-color) !important;
}


.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  background-color: transparent !important;
}

toolbarbutton {
  box-shadow: none !important;
}


/*
  ___ ___ ___  ___ ___   _   ___
 / __|_ _|   \| __| _ ) /_\ | _ \
 \__ \| || |) | _|| _ \/ _ \|   /
 |___/___|___/|___|___/_/ \_\_|_\
*/

.close-icon, .urlbar-icon {
  fill: var(--mff-icon-color) !important;
}

.sidebar-placesTree {
  color: var(--mff-sidebar-color) !important;
}

#sidebar-switcher-target {
/*   color: white !important; */
}

#sidebar-box {
  --sidebar-background-color: var(--mff-sidebar-bg) !important;
}

splitter#sidebar-splitter {
  opacity: 0 !important;
}

splitter#sidebar-splitter {
  border: none !important;
  background-color: transparent !important;
}

image#sidebar-icon {
  display: none;
}


/*
    _   ___ ___  _____      _____  _   _  _ ___ _
   /_\ | _ \ _ \/ _ \ \    / / _ \/_\ | \| | __| |
  / _ \|   /   / (_) \ \/\/ /|  _/ _ \| .` | _|| |__
 /_/ \_\_|_\_|_\\___/ \_/\_/ |_|/_/ \_\_|\_|___|____|
 */

.panel-arrowcontent {
  padding: 0px !important;
  margin: 0px !important;
}

toolbarseparator {
  display: none;
}



















/* 
  Title: Drannex42's Personal userChrome.css for Firefox
  Description: This is my personal userChrome for Firefox, I specifically clean up the interface, change the folder icon to Vivaldi's (much better) and reduce padding in some areas, and add some in others. This overall creates a much more streamlined interface.
  Features: Streamlines interface, folder icon replacement, works best with my custom Tree Style Tabs interface (check it out! treestyletabs.css in the /firefox/ directory), removes tab bar.
  Version: 12020.03.09
*/

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  /*! display: none; */
}

/*Collapse in default state and add transition*/
#sidebar-box #sidebar:hover { 
    /*! overflow: visible !important; */
    min-width: 40px;
    max-width: 40px;
    border-right: 1px solid var(--panel-separator-color);
    z-index: 2;
    --sidebar-background-color: #f5f6f7 !important;
}

/*All other sidebar-boxes should be larger on hover*/
#sidebar-box:hover { 
  min-width: 350px !important;
  max-width: 350px !important;
  z-index: 1;
  margin-right: -300px !important;
}

/*Tree Style Tab specific size*/

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
      min-width: 260px !important;
      max-width: 260px !important;
      z-index: 1;
      margin-right: -210px !important;
}


#sidebar-header {
  border: none !important;
}

#sidebar-close, #sidebar-title, #sidebar-switcher-arrow {
    display: none;
    border: none;
  }

#sidebar-switcher-target {
    border: none !important;
    margin-left: 4.5px !important;
}

#sidebar-switcher-target:focus-visible:not(:hover, [open]), #sidebar-close:focus-visible:not(:hover, [open]) {
  outline: none !important;
}


:root {
  --sidebar-width: 50px;
  --toolbar-height: -50px;
  --menubar-height: -65px;
  --toolmenubar-height: -80px;
  --sidebar-padding: calc(var(--sidebar-width) + 5px);
}


#main-window #PersonalToolbar {
  margin-left: var(--sidebar-width);
  padding: 2px 5px !important;
  padding-top: 0px !important;
  margin-top: -1.25px !important;
}

/* lock sidebar to height by doing the inverse margin of the toolbar element */
#sidebar-box {
  z-index: 1000 !important;
  position: relative!important;
  margin-top: var(--menubar-height) !important;
  border-right: 1px solid #ccc;
  background: #f6f7f8 !important;
  transition: none !important;
}

#main-window[title^="Firefox Developer Edition"] #sidebar-box {
  margin-top: var(--toolmenubar-height) !important;
}

/* lock sidebar to specified width */
#sidebar-box {
    min-width: var(--sidebar-width) !important;
    max-width: var(--sidebar-width) !important;
    overflow: hidden !important;
}

.browser-toolbar {
  margin-left: var(--sidebar-width);
}

.sidebar-splitter {
  opacity: 0 !important;
  width: 0px !important;
  border: none !Important;
  --avatar-image-url: none !important;
}

/* hide sidebar header for tree style tabs sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  /*! display: none; */
}

#sidebarMenu-popup .subviewbutton {
    min-width: 0px;
    padding: 0;
    margin: 0 !Important;
}

toolbarseparator {
    display: none;
}

#sidebar { border-right: 0px solid #ccc; overflow: hidden;width: 50px !important;min-width: 50px !important;width: 100% !important;}


/* OTHER CUSTOM OPTIONS */

/* Hide the title bar */
#titlebar{ visibility: collapse; }

/* hide normal horizontal tab bar */
#TabsToolbar { visibility: collapse; }


:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  border: none !important;
  background: none !important;
}

/* --- Prevent enlargement */
#urlbar[breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout-extend] #urlbar-input-container {
    height: var(--urlbar-height) !important;
    /*padding: 0px !important;*/
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
.urlbarView-row {
    padding: 0px 2px 0px 2px;
}
/* END Prevent enlargement --- */

/*/* --- Reduce row paddings to make them more compact */
.urlbarView-row {
    padding: 2px 0px !important;
    line-height: 1.2em !imortant;
    margin: -1px;
    margin-bottom:0px;
}
.urlbarView-row-inner {
    padding-bottom: 6px !important;
}
.urlbarView {
    margin: 0px !important;
    width: 100% !important;
}
/* END Reduce row paddings to make them more compact --- */

/* Disable Urlbar Animation */
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
    animation-name: none !important;
    animation: none !important;
}

/* --- More compact "Search with Google" rows */
.urlbarView-row[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner {
    min-height: auto !important;
    width: auto !important;
}
.urlbarView-row[dynamicType="onboardTabToSearch"] > .urlbarView-row-inner > .urlbarView-no-wrap > .urlbarView-favicon {
    margin-bottom: -1px;
}
/* END More compact "Search with Google" rows --- */

/* Remove active border on the addressbar when in focus */
 #nav-bar{ --toolbar-field-focus-border-color: #ccc }

/* Remove box shadow on address bar */
#urlbar-background, #searchbar {
  box-shadow: none !important;
}

 /* Change Bookmark Folder Icon to the one Vivialdi uses */
.bookmark-item[container] {
    list-style-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMi4zNTcxNyAzLjM2MDc1QzIuMTMzMjMgMy41ODY5MyAyLjAwNTE1IDMuODkyMjEgMiA0LjIxMjAzVjExLjc4NzJDMS45OTQ0MSAxMS45NDc5IDIuMDIxNjMgMTIuMTA4MSAyLjA3OTk2IDEyLjI1NzdDMi4xMzgyOCAxMi40MDczIDIuMjI2NDggMTIuNTQzMSAyLjMzOTA0IDEyLjY1NjhDMi40NTE2IDEyLjc3MDUgMi41ODYxMyAxMi44NTk2IDIuNzM0MjUgMTIuOTE4NUMyLjg4MjM3IDEyLjk3NzQgMy4wNDA5MSAxMy4wMDQ5IDMuMiAxMi45OTkzSDEyLjhDMTMuMTE2NyAxMi45OTQxIDEzLjQxODkgMTIuODY0NyAxMy42NDI4IDEyLjYzODVDMTMuODY2OCAxMi40MTIzIDEzLjk5NDggMTIuMTA3MSAxNCAxMS43ODcyTDE0IDZDMTQgNS41IDEzLjUgNSAxMyA1SDhMNi44IDNIMy4yQzIuODgzMzQgMy4wMDUyIDIuNTgxMSAzLjEzNDU3IDIuMzU3MTcgMy4zNjA3NVpNMi45OTkzOSAxMS44MjJMMyAxMS44MDQ2VjQuMjIzMThDMy4wMDIyMyA0LjE2MTcxIDMuMDI3NDEgNC4xMDUxMSAzLjA2Nzc5IDQuMDY0MzJDMy4xMDc3MyA0LjAyMzk4IDMuMTU5MjkgNC4wMDIwOCAzLjIxMTYxIDRINi4yNDU4OUw3LjUgNkgxMi44QzEyLjkxMDUgNiAxMyA2LjA4Nzk2IDEzIDYuMTk4NDJDMTMgNy4xMzEwNyAxMyAxMS4wNjM2IDEzIDExLjc3NjFDMTIuOTk3OCAxMS44Mzc2IDEyLjk3MjYgMTEuODk0MiAxMi45MzIyIDExLjkzNUMxMi44OTIzIDExLjk3NTMgMTIuODQwNyAxMS45OTcyIDEyLjc4ODQgMTEuOTk5M0gzLjE4MjI3TDMuMTY0NTUgMTEuOTk5OUMzLjE0NDA2IDEyLjAwMDYgMy4xMjM0MyAxMS45OTcxIDMuMTAzODMgMTEuOTg5M0MzLjA4NDIxIDExLjk4MTUgMy4wNjU2NyAxMS45Njk0IDMuMDQ5NjYgMTEuOTUzM0MzLjAzMzY0IDExLjkzNzEgMy4wMjA1MSAxMS45MTcxIDMuMDExNjUgMTEuODk0NEMzLjAwMjc4IDExLjg3MTcgMi45OTg1MyAxMS44NDcgMi45OTkzOSAxMS44MjJaIj48L3BhdGg+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMi45OTkzOSAxMS44MjJMMyAxMS44MDQ2VjQuMjIzMThDMy4wMDIyMyA0LjE2MTcxIDMuMDI3NDEgNC4xMDUxMSAzLjA2Nzc5IDQuMDY0MzJDMy4xMDc3MyA0LjAyMzk4IDMuMTU5MjkgNC4wMDIwOCAzLjIxMTYxIDRINi4yNDU4OUw3LjUgNkgxMi44QzEyLjkxMDUgNiAxMyA2LjA4Nzk2IDEzIDYuMTk4NDJDMTMgNy4xMzEwNyAxMyAxMS4wNjM2IDEzIDExLjc3NjFDMTIuOTk3OCAxMS44Mzc2IDEyLjk3MjYgMTEuODk0MiAxMi45MzIyIDExLjkzNUMxMi44OTIzIDExLjk3NTMgMTIuODQwNyAxMS45OTcyIDEyLjc4ODQgMTEuOTk5M0gzLjE4MjI3TDMuMTY0NTUgMTEuOTk5OUMzLjE0NDA2IDEyLjAwMDYgMy4xMjM0MyAxMS45OTcxIDMuMTAzODMgMTEuOTg5M0MzLjA4NDIxIDExLjk4MTUgMy4wNjU2NyAxMS45Njk0IDMuMDQ5NjcgMTEuOTUzM0MzLjAzMzY0IDExLjkzNzEgMy4wMjA1MSAxMS45MTcxIDMuMDExNjUgMTEuODk0NEMzLjAwMjc4IDExLjg3MTcgMi45OTg1MyAxMS44NDcgMi45OTkzOSAxMS44MjJaIiBmaWxsLW9wYWNpdHk9IjAuMSI+PC9wYXRoPgo8L3N2Zz4=") !important;
    padding-right: 15px !important;
    margin-right: -1px !important;
  }


/* Add down arrow to folders on the bookmark bar */
.bookmark-item[container]::after {
    content: "Ë‡";
    opacity: 0.7;
    padding-left: 3px;
    font-size: 22px;
    display: inline-block;
    position: absolute;
    top: 4px;
}

/* Change the Avatar size for the Firefox Account to what makes sense */
[label="Firefox Account"] #fxa-avatar-image {
    scale: 1.175;
}

